language: java

jdk: openjdk8

script: mvn clean verify

services:
  - mysql

branches:
  only:
    - master

notifications:
  email: false

before_install:
- mysql -e 'CREATE DATABASE developermanager;'
- sudo mysql -e "use mysql; update user set authentication_string=PASSWORD('pass') where User='root'; update user set plugin='mysql_native_password';FLUSH PRIVILEGES;"


env:
  - TWILIO_SID=stub
  - TWILIO_TOKEN=stub
  - TWILIO_PHONENUMBER=stub